# Copiez ce fichier en .env et adaptez les valeurs

# Port d'écoute du serveur (défaut : 3000)
PORT=3000

# Nom de domaine (sans https://)
DOMAIN=amelie-naturopathe-normandie.fr

# Environnement : development | production
NODE_ENV=development
